---
import { Image } from 'astro:assets';
import Layout from "../layout/layout.astro";
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro";
import SectionBlock from "../components/Section-block.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Peri Co">
  <main>
    <Header />
    <Hero />
    <SectionBlock sectionNum="section-one" sectionName="Section I / about" />
    <SectionBlock sectionNum="section-two" sectionName="Section II / Stuff" />
    <SectionBlock  sectionNum="section-three" sectionName="Section III / things" />
    <SectionBlock sectionNum="section-four" sectionName="Section IV / mission" />
    <Footer />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
</style>