---
import Layout from "../layout/Layout.astro";

import Logo from "../components/Logo.astro";
---

<Layout title="Peri Co">
  <main id="content">
    <div class="header">
      <Logo />
    </div>
    <div class="content">
      <h1>PERI Co.</h1>
      <h2>We do things.</h2>
    </div>
  </main>
</Layout>
