---
import Layout from "../layout/Layout.astro";
import Header from "../components/header.astro";
import Hero from "../components/hero.astro";
---

<Layout title="PeriCo llc">
	<main>
    <Header />
    <Hero />
    

    
    <section>
      <div class="wrapper">
    
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
          impedit cupiditate, quisquam reprehenderit rem nostrum quaerat
          tempore molestias magnam maxime omnis hic enim, autem tempora
          tenetur illo excepturi eaque fugiat.
        </p>
    
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Reprehenderit officiis dolores vitae sed libero ipsa. Aut, eos
          accusantium, quas at laborum tempore ab quidem eum exercitationem
          odit excepturi incidunt iste.
        </p>
    
      </div>
    </section>
    
    <section class="full-width-split-screen">
      <div class="accent">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit officiis dolores vitae sed libero ipsa. Aut, eos accusantium, quas at laborum tempore ab quidem eum exercitationem odit excepturi incidunt iste.</p>
        <p>Deleniti voluptates harum nemo eos deserunt? Cum quos blanditiis dignissimos facilis , pariatur vel nostrum consectetur nesciunt in numquam.</p>
      </div>
      <img src='https://th.bing.com/th/id/OIP.U55JRhN24c0TRYhhpXJSvAHaE3?pid=ImgDet&rs=1' alt=''>
    </section>
    
    <section class="">
      <div class="wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse impedit cupiditate, quisquam reprehenderit rem nostrum quaerat tempore molestias magnam maxime omnis hic enim, autem tempora tenetur illo excepturi eaque fugiat.</p>
    
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit officiis dolores vitae sed libero ipsa. Aut, eos accusantium, quas at laborum tempore ab quidem eum exercitationem odit excepturi incidunt iste.</p>
    
    </section>
    
    <section class="full-width-split-screen">
      <div class="accent">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit officiis dolores vitae sed libero ipsa. Aut, eos accusantium, quas at laborum tempore ab quidem eum exercitationem odit excepturi incidunt iste.</p>
        <p>Deleniti voluptates harum nemo eos deserunt? Cum quos blanditiis dignissimos facilis , pariatur vel nostrum consectetur nesciunt in numquam.</p>
      </div>
      <div class="primary">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit officiis dolores vitae sed libero ipsa. Aut, eos accusantium, quas at laborum tempore ab quidem eum exercitationem odit excepturi incidunt iste.</p>
        <p>Deleniti voluptates harum nemo eos deserunt? Cum quos blanditiis dignissimos facilis , pariatur vel nostrum consectetur nesciunt in numquam.</p>
      </div>
    </section>
    <section class="">
      <div class="wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse impedit cupiditate, quisquam reprehenderit rem nostrum quaerat tempore molestias magnam maxime omnis hic enim, autem tempora tenetur illo excepturi eaque fugiat.</p>
    
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit officiis dolores vitae sed libero ipsa. Aut, eos accusantium, quas at laborum tempore ab quidem eum exercitationem odit excepturi incidunt iste.</p>
    
    </section>
    
    <section class="full-width-split-screen">
      <img src='https://th.bing.com/th/id/OIP.U55JRhN24c0TRYhhpXJSvAHaE3?pid=ImgDet&rs=1' alt='' />
      <img src="https://th.bing.com/th/id/OIP._CWCKFlrpAVWiXq2AHXlXgHaEK?pid=ImgDet&rs=1" alt="" />
    </section>
    <section class="">
      <div class="wrapper">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse impedit cupiditate, quisquam reprehenderit rem nostrum quaerat tempore molestias magnam maxime omnis hic enim, autem tempora tenetur illo excepturi eaque fugiat.</p>
    
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit officiis dolores vitae sed libero ipsa. Aut, eos accusantium, quas at laborum tempore ab quidem eum exercitationem odit excepturi incidunt iste.</p>
    
    </section>
    <section>
      <footer class="wrapper">&copy; 2023 - and Beyond... All my rights are reserved, so are yours. Enjoy!</footer>  
	</main>

</Layout>