<div class="footer">
    <div class="footer__content">
        &copy; 2023-2024 All Right, all right, all rights reserved.
    </div>
</div>

<style>
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        color: #fff;
        height: 75px;
        width: 100%;
    }

    .footer__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: var(--max-content-width);
        width: 100%;
    }