---

import Logo from './Logo.astro';

---

<div class='header'>
    <div class='header__content'>
        <Logo />
    </div>
</div>

<style>
    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        width: 100%;
        height: auto;
        background: #fff;
    }

    .header__content {
        display: flex;
        width: 100%;
        max-width: var(--max-content-width);
    }
</style>