<section class="full-width-split-screen">
    <img src="https://wallpapercave.com/wp/wp5549116.jpg" alt="" />
    <div>
    
        <h1>Hero Stuff!!!</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Reprehenderit officiis dolores vitae sed libero ipsa.
      </p>
      <a href="#" class="button">Keep reading</a>
    </div>
  </section>

<style>

</style>