<div class='hp-hero'>
    <div class='hp-hero__content'>
        <div class='hp-hero__content-side hp-hero__content-side--img'><img src='https://th.bing.com/th/id/R.ed1da6d7993cecf649e11c4a6e72f760?rik=PJ%2fkeQsgr%2flJ%2fA&riu=http%3a%2f%2fwallup.net%2fwp-content%2fuploads%2f2017%2f03%2f28%2f381569-sea-long_exposure-sunset-nature-beach.jpg&ehk=%2fg9KbiFw%2ffQWmJxTI9lQlwqLE%2b6KyPWWO%2fi%2fALbpizo%3d&risl=&pid=ImgRaw&r=0'></div>
        <div class='hp-hero__content-side'>
            <h2>When things need doing, we do them!</h2>
            <p>We live by one simple rule: 'When things need doing, we do them!' We're the go-getters, the dreamers, and the ones who don't just talk about change, but roll up our sleeves and make it happen.</p>
            <a href="#section-one" class='button'>Learn More?</a>
        </div>
    </div>
</div>

<style>
    .hp-hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .hp-hero img {
        width: 100%;
    }

    .hp-hero__content {
        display: flex;
        align-items: center;
        max-width: var(--max-content-width);
        width: 100%;
    }

    .hp-hero__content-side {
        width: 50%;
        margin-left: 50px;
    }

    .hp-hero__content-side--img {
        margin: 0;
    }
</style>