<section class="full-width-split-screen">
    <img src="https://th.bing.com/th/id/OIP._CWCKFlrpAVWiXq2AHXlXgHaEK?pid=ImgDet&rs=1" alt="" />
    <div>
    
        <h3>Hero Stuff!!!</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Reprehenderit officiis dolores vitae sed libero ipsa.
      </p>
      <a href="#" class="button">Keep reading</a>
    </div>
  </section>

<style>

</style>