---

import Logo from '../img/perico-transparent.png';

---


<div class="logo">
    <img src={ Logo } alt="PERICO We Do Things" class="logo-img">
</div>


<style>
    .logo-img {
        width: 250px;
    }
</style>