<div class="navigation">
    <div class="navigation__item"><a href="#section-four">Our Mission</a></div>
    <div class="navigation__item"><a href="#section-three">Things We Do</a></div>
    <div class="navigation__item"><a href="#section-two">Stuff We Did</a></div>
    <div class="navigation__item"><a href="#section-one">About Us</a></div>
</div>

<style>
  .navigation {
    position: sticky;
    top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--max-content-width);
    border-bottom: 2px solid grey;
  }

  .navigation__item {
    background: grey;
    width: 100%;
    text-align: center;
    margin: 0 15px 0;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
  }
</style>
