<div class='navigation'>
    <ul class='navigation__list'>
        <li class='navigation__list-item'><a href="#section-one">about</a></li>
        <li class='navigation__list-item'><a href="#section-two">stuff</a></li>
        <li class='navigation__list-item'><a href="#section-three">things</a></li>
        <li class='navigation__list-item'><a href="#section-four">mission</a></li>
    </ul>
</div>

<style>
    .navigation {
    display: flex;
    width: 100%;
    }
    .navigation__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .navigation__list-item {
        margin-left: 15px;
    }
</style>